body,
ul,
li,
h1,
h2,
a {
    margin: 0;
    padding: 0;
    font-family: arial;
}


.radio-conditions{
    display: flex;
    justify-content:center ;
}


ul {
    list-style-type: none;
    text-align: start;
    min-width: 105px;
}


main {
    max-width: 960px;
    margin: 20px auto;
    padding: 0 10%;
    box-sizing: border-box;
}

main h1 {
    text-align: center;
}

main form div {
    text-align: center;
}

.label {
    margin-right: 1.3em;
}

h1 {
    color: black;
}

span {
    color: red;
}

header h1 {
    color: white;
    border: 8px solid white;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 36px;
}

form input {
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 28px;
    border: 4px solid white;
}

input,
button {
    color: white;
    background-color: #00aeff;
    border-radius: 60px;
    border-color: #4b4b4b;
}

textarea {
    resize: none;
    border-radius: 12px;
    border: 2px dashed;
    outline-style: none;
}


/* switch */


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

div.form-body {
    border: 2px solid #4B4B4B;
    border-radius: 20px;
    /* color: #fff; */
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
}

.button {
    width: 75%;
    padding: inherit;
    margin-bottom: 20px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #00aeff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:hover {
    background-color: red
}

.button:active {
    background-color: #006eff;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

label,
p {
    font-weight: bold;
}

.option-1 {
    color: #F63232;
}

.option-2 {
    color: orange;
}

.option-3 {
    color: green;
}